# Default ignored files
/workspace.xml

# vscode ideo folders
importdb/__pycache__
__pycache__/
.idea
/model/__pycache__/
/app/__pycache__/
#sobre as telas
tela_cristian.txt
screens/
/model/duvidas.txt
awsflavia
app/database/connection-aws-db.json
